{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">7. ASK THE EXPERTS</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                    Supplement your research with an expert advice from those who know the best. Ask questions that have not been answered. 
                            Seek knowledge from trustworthy organisations and respective intellectuals.
                        
                          <br>
                        </p>
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Spot the fake news from headline</h3>
                        <p>
                            Fake news always use dramatic headlines, intriguing images and ads to catch your eyes.
                            While after you click on them, it takes you to an article that’s unrelated to the headline.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">02</div>
                        <h3>Get through into the details</h3>
                        <p>
                            It is easy to identify the fake news from its content since fake news are normally lake of evidence to justify their argument when you getting through into the details.
                        </p>
                    </div>

                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img">
                    <a href="{% url 'fake_news' %}" ><img src="{% static 'images/home_1/Read_beyond1.png'  %}" alt=""/></a>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

