{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">7. ASK THE EXPERTS</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                    Supplement your research with an expert advice from those who know the best. Ask questions that have not been answered. 
                            Seek knowledge from trustworthy organisations and respective intellectuals.
                        
                          <br>
                        </p>
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Still feel unsure about the credibility of the news that you are reading?</h3>
                        
                    </div>
                    <div class="card_singleFeature" id='ask_the_expert'>
                        <div class="card_count">02</div>
                        <h3>Still wonder if you can trust the news?  </h3>
                        
                    </div>
                    <div class="card_singleFeature" >
                        <div class="card_count">03</div>
                        <h3>What degree does the author have?</h3>
                        <p>
                            If they have advanced degrees or professional backgrounds that they are writing about, 
                            they have met the minimum requirement for credibility
                        </p>
                    </div>

                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img">
                   <img src="{% static 'images/home_1/Read_beyond1.png'  %}" alt=""/>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

