{% extends "page/header.html" %}

{% load static %}

    {% block content %}
        <!-- Preloading -->
       
        <!-- Preloading -->
        {% include 'page/preloader.html' %}
        <!-- Header 01 -->
        {% include 'page/section_nav_bar.html' %}
        <!-- Header 01 -->

        <!-- Search From -->
        <div class="searchFixed popupBG">
            <div class="container-fluid">
                <a href=" {% static '' %} " id="sfCloser" class="sfCloser"></a>
                <div class="searchForms">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form method="post" action="#">
                                    <input type="text" name="s" class="searchField" placeholder="Search here..."/>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search From -->



      

        <!-- Agency Section -->
        <section class="commonSection why_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        
                        <h2 class="sec_title">Why we need Expert?</h2>
                        <p class='description'>Every day we are bombarded by a lot of information from various sources such as newspapers, social media, etc. Apparently, we do not have expertise in every field. So, supplement your research with an expert advice from those who know the best. Ask questions that have not been answered. Seek knowledge from trustworthy organisations and respective intellectuals.
                            Moreover, if a story feels flimsy or does not seem to be properly cited.
                            </p>
                        <h3 style="color:#a13f3f">That’s where we need opinions from respective experts in the field!</h3>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="">
                            <img src=" {% static 'images/about/ask_the_expert.jpg' %} " alt=""/>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 col-sm-12">
                        <div class="agency_img2">
                            <img src=" {% static 'images/about/2.jpg' %} " alt=""/>
                        </div>
 
                    </div> -->
                </div>
            </div>
        </section>
        <!-- Agency Section -->
                <!-- Why Choose Section -->
                <section  class="commonSection chooseUs">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                
                                <h2 class="sec_title">Who are the Experts?</h2>
                                <p class="sec_desc">
                                    
                                </p>
                            </div>
                        </div>
                        <div id="tabs">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="chooseUs_title">
                                        <li><a href="#tes_tab_1 " data-toggle="tab">Professionals</a></li>
                                        <li class="active"><a href="#tes_tab_2" data-toggle="tab">Organizations</a></li>
                                        <!-- <li><a href="#tes_tab_3" data-toggle="tab">International organizations</a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="tab-content clearfix">
                                    <div class="tab-pane fade" id="tes_tab_1">
                                        <div class="col-lg-7 col-sm-7 col-md-7">
                                            <div class="wh_choose">
                                                <p>
                                                    Someone having comprehensive or authoritative knowledge in a particular area is considered an expert. 
                                                </p>
                                                <ul>
                                                    <li><i class="fa fa-plus-square"></i><strong>Health: </strong> Doctor & Medical practitioners</li>
                                                    <li><i class="fa fa-briefcase" aria-hidden="true"></i><strong>Business: </strong>  Consultants & Businessman</li>
                                                    <li><i class="fa fa-flask" aria-hidden="true"></i><strong>Technology & Science: </strong> Engineers & Scientist</li>
                                                    <li><i class="fa fa-trophy" aria-hidden="true"></i><strong>Sports: </strong>Athletes & Coaches </li>
                                                    <li><i class="fa fa-book" aria-hidden="true"></i><strong>Education: </strong>Consultants, Lectures, Students & Scientist </li>
                                                    <li><i class="fa fa-plane" aria-hidden="true"></i><strong>Travel & Food: </strong>Famous Bloggers & Consultants </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-5 col-md-5">
                                            <div class="chose_img">
                                                <img src=" {% static 'images/about/professionals.jpg' %} " alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in active" id="tes_tab_2">
                                        <div class="col-lg-5 col-sm-5 col-md-5">
                                            <div class="chose_img">
                                                <img src=" {% static 'images/about/organization.jpg' %}  " alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-sm-7 col-md-7">
                                            <div class="wh_choose">
                                                <p>
                                                    Someone having comprehensive or authoritative knowledge in a particular area is considered an expert. 
                                                </p>
                                                <ul>
                                                    <li><i class="fa fa-plus-square"></i><strong>Health: </strong>World Health Organisation & health.VIC</li>
                                                    <li><i class="fa fa-briefcase" aria-hidden="true"></i><strong>Business: </strong>World Trade Organisation </li>
                                                    <li><i class="fa fa-flask" aria-hidden="true"></i><strong>Technology & Science: </strong>International Organization for Science and Technology Education  </li>
                                                    <li><i class="fa fa-trophy" aria-hidden="true"></i><strong>Sports: </strong> International Sports Organisation</li>
                                                    <li><i class="fa fa-book" aria-hidden="true"></i><strong>Education: </strong>UNESCO & International Education Association of Australia</li>
                                                    <li><i class="fa fa-plane" aria-hidden="true"></i><strong>Travel & Food: </strong>World FoodTravel Association </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="tes_tab_3">
                                        <div class="col-lg-7 col-sm-7 col-md-7">
                                            <div class="wh_choose">
                                                <p>
                                                    International organizations have expertise in their own field and provides accurate information.
                                                     They are consistent with other experts and trusted organizations.
                                                </p>
                                                <ul>
                                                    <li><i class="fa fa-plus-square"></i><strong>Health:</strong> Doctor and medical practitioners</li>
                                                    <li><i class="fa fa-briefcase" aria-hidden="true"></i><strong>Business:</strong> </li>
                                                    <li><i class="fa fa-flask" aria-hidden="true"></i><strong>Technology & Science:</strong> </li>
                                                    <li><i class="fa fa-trophy" aria-hidden="true"></i><strong>Sports:</strong> </li>
                                                    <li><i class="fa fa-book" aria-hidden="true"></i><strong>Education:</strong> </li>
                                                    <li><i class="fa fa-plane" aria-hidden="true"></i><strong>Travel & Food:</strong> </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-sm-5 col-md-5">
                                            <div class="chose_img">
                                                <img src=" {% static 'images/home_1/c3.jpg' %} " alt=""/>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Why Choose Section -->










        <!-- Footer Section -->
        
        {% include 'page/footer.html' %}
        <!-- Footer Section -->

        <!-- Bact To To -->
        <a id="backToTop" href="#" class=""><i class="fa fa-angle-double-up"></i></a>
        <!-- Bact To To -->

{% endblock %}