{% extends "page/header.html" %}

{% load static %}

    {% block content %}
        <!-- Preloading -->
       
        <!-- Preloading -->
        {% include 'page/preloader.html' %}
        <!-- Header 01 -->
        {% include 'page/section_nav_bar.html' %}
        <!-- Header 01 -->



                <!-- Page Banner -->
                <section class="authopageBanner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="banner_content text-center">
                                    <h4>Is it Fake News?</h4>
                                    <h2>What to check on a Story</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Page Banner -->

                <section>
                    <div class="news_author">
                        <img src="{% static 'images/bg/top.png' %}" alt="">
                    </div>
                    
                </section>

                <section class="commonSection porfolioDetail">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-sm-7 col-md-8">
                                <div class="portDetailThumb">
                                    <img src="{% static 'images/bg/wondering.png' %} " alt=""/>
                                </div>
        
                            </div>
                            <div class="col-lg-4 col-sm-5 col-md-4">
                                <div class="singlePortfoio_content">
                                    <h3>Design Styles</h3>
                                    <p>
                                        If they have advanced degrees or professional backgrounds that they are writing about, they have met the minimum requirement for credibility.
                                    </p>
                                </div>
                                <!-- <div class="singlePortfoio_content">
                                    <h4>Clients:</h4>
                                    <p>Jessica Brown</p>
                                </div>
                                <div class="singlePortfoio_content">
                                    <h4>Category:</h4>
                                    <p><a href="#">Graphic,</a> <a href="#">Illustrations</a></p>
                                </div>
                                <div class="singlePortfoio_content">
                                    <h4>Date:</h4>
                                    <p>8 Nov, 2018</p>
                                </div> -->

                            </div>
                        </div>

                    </div>
                </section>




                <!-- Why Choose Section -->
                <section  class="commonSection chooseUs">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                
                                <h2 class="sec_title">Author checker</h2>
                                <p class="sec_desc">
                                    Let’s get started! Go find out more about the author to see if you can trust them! 
                                </p>
                            </div>
                        </div>
                        <!-- <form action="/your-name/" method="post">
                            <label for="your_name">Your name: </label>
                            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
                            <input type="submit" value="OK">
                        </form> -->
                        
                        <form action="/author/" method="post">
                            {% csrf_token %}
                            <div class="wrap">
                                <div class="search">
                                <!-- <input 
                                        type="text" 
                                        id ='author_name' 
                                        name ='author' 
                                        class="searchTerm" 
                                        placeholder="paste the source link here...",
                                        maxlength="100" required> -->
                                        {{form}}
                                        
                                <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                                </div>
                            </div>
                        </form>
                        <!-- <p>This is only a tool for you as a reference, don’t rely on it!</p>> -->
                        <Strong>Simply type the author name in the search bar, and find out more about them! </Strong>
                        <a class="common_btn red_bg" style="float:right" href="{% url 'author' %}"><span>Next Step</span></a>

                    </div>
                </section>
                

        







        <!-- Footer Section -->
        
        {% include 'page/footer.html' %}
        <!-- Footer Section -->

        <!-- Bact To To -->
        <a id="backToTop" href="#" class=""><i class="fa fa-angle-double-up"></i></a>
        <!-- Bact To To -->

{% endblock %}