{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">2. CHECK THE AUTHOR</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                        Check the author’s bio and do a quick search on them. Are they credible to write about their story? Are they real? Are they experienced?
                        <br><span style='color: #a11818;'><strong>Trust the author before you trust the news!</strong></span>
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Does the News article has an author or not?</h3>
                        <p>
                            Fake news articles often don't include author names. If included, check the author's bio and do a quick search on them.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">02</div>
                        <h3>Do a quick check on the author</h3>
                        <p>
                            Check the author’s byline to find out what else they have written and where their stories have been published.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">03</div>
                        <h3>What qualification does the author have?</h3>
                        <p>
                            If they have the professional backgrounds that they are writing about, they have met the minimum requirement for credibility.
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img">
                    <img src="{% static 'images/home_1/check_author.png'  %}" alt=""/>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

