{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">4. CHECK FOR BIASES</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                        What makes you think fake news is real news? Why can’t facts change our mind? 
                        Our brains contain something called <strong>confirmation bias</strong> that is defined as a limitation 
                        in our thinking which can cause flaws in our judgement. 
                        Confirmation bias leads us to believe what we want to believe and ignore or minimize facts that threaten our beliefs.
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Recognize</h3>
                        <p>
                            recognize that you have this bias in the first place, We all do!
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">02</div>
                        <h3> Consider</h3>
                        <p>
                            Consider that you may not really understand what you think you understand, and think about the other side of your perspective.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">03</div>
                        <h3>Research</h3>
                        <p>
                            Research the opposing viewpoint, you might realize that your understanding of where they’re coming from is a bit too shallow.
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img" style='    padding-top: 20px;'>
                    <img src="{% static 'images/home_1/bias.png'  %}" alt=""/>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

