{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">Well done!</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;     margin: 100px 0px;'>
                <div  class="features_content">
                    <p class="card_sec">
                        You have completed all the steps. <br> 
                        Let's explore the News analyzer and receive a personalized report on the given news article.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img">
                    <img style='width: 72%;' src="{% static 'images/portfolio/well_done.png'  %}" alt=""/>
                </div>
                
            </div>

        </div>
        
    </div>
</section>
