{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">Well done!</h2>
            <div class="col-lg-12 col-sm-12  col-md-12" style='text-align: left;'>
                <div  class="features_content">
                    <p class="card_sec">
                        You have completed all the steps. <br> 
                        Let's explore the News analyzer and receive a personalized report on the given news article.
                    </p>
                
                    
                    
                </div>
            </div>

        </div>
        
    </div>
</section>
