{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">5. READ BEYOND</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                        <h3 style='color:#a13f3f;  margin: 19px 0 0px;'>Headlines can be outrageous in an effort to get clicks. <strong>What’s the whole story?</strong></h3>
                        <p class='description'>If a provocative headline drew your attention, read a little further before you decide to pass along the shocking information. 
                            Even in legitimate news stories, the headline doesn’t always tell the whole story. 
                            But fake news, particularly efforts to be satirical, can include several revealing signs 
                            in the text.
                          <br><strong>Read beyond the headline and decide for yourself!</strong>
                          <br>
                        </p>
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Spot the fake news from headline</h3>
                        <p>
                            Fake news always use dramatic headlines, intriguing images and ads to catch your eyes.
                            While after you click on them, it takes you to an article that’s unrelated to the headline.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">02</div>
                        <h3>Get through into the details</h3>
                        <p>
                            It is easy to identify the fake news from its content since fake news are normally lake of evidence to justify their argument when you getting through into the details.
                        </p>
                    </div>

                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img">
                    <a href="{% url 'fake_news' %}" ><img src="{% static 'images/home_1/Read_beyond1.png'  %}" alt=""/></a>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

