
  
{% extends "page/header.html" %}

{% load static %}

    {% block content %}
        <!-- Preloading -->
       
        <!-- Preloading -->
        {% include 'page/preloader.html' %}
        <!-- Header 01 -->
        {% include 'page/section_nav_bar.html' %}
      
     
	<!-- MultiStep Form -->
		<div class="container-fluid" id="grad1">
			<div class="row justify-content-center mt-0">
				<div class="col-11 col-sm-9 col-md-7 col-lg-12 text-center p-0 mt-3 mb-2">
					<div class="card px-0 pt-4 pb-0 mt-3 mb-3" style="margin:auto; max-width: 90%; font-size: 14px;">
				
						<div class="row">
							<div class="col-md-12 mx-0">
								<form id="msform">
									{% csrf_token %}
									<!-- progressbar -->
									<ul id="progressbar">
										<li class="active" id="account"><strong>Consider Source</strong></li>
										<li id="personal"><strong>CHECK AUTHOR</strong></li>
										<li id="payment"><strong>CHECK DATE</strong></li>
										<li id=''>CHECK BIASES</li>
										<li id="confirm"><strong>READ BEYOND</strong></li>
										<li id=''>SUPPORT SOURCES</li>
										<li id=''>ASK EXPERTS</li>
										
									</ul> <!-- fieldsets -->
									<fieldset>
										<div class="form-card">
											{% include 'page/source_card.html' %}
										</div> 
										<a href="{% url 'source' %}" ><button type="button" class="function_button btn btn-info">Source Checker</button></a>
										<input type="button" name="next" class="next action-button" value="Next Step" style='float: right;clear: both;'/>
									</fieldset>
									<fieldset>
										{% include 'page/author_card.html' %}
										<input type="button" name="previous" class="previous action-button" value="Previous" style='float: left;' />
										<a href="{% url 'author' %}" ><button type="button" class="function_button btn btn-info">Author Checker</button></a>
										 <input type="button" name="next" class="next action-button" value="Next Step" style='float: right;' />
									</fieldset>
									<fieldset>
										{% include 'page/date_card.html' %}
										<input type="button" name="previous" class="previous action-button" value="Previous" style='float: left;' />
										 <input type="button" name="next" class="next action-button" value="Next Step" style='float: right;' />
										 
									</fieldset>
									<fieldset>
										{% include 'page/bias_card.html' %}
										<input type="button" name="previous" class="previous action-button" value="Previous" style='float: left;' />
										 <input type="button" name="next" class="next action-button" value="Next Step" style='float: right;' />
										 
									</fieldset>
									<fieldset>
										{% include 'page/read_card.html' %}
										<input type="button" name="previous" class="previous action-button" value="Previous" style='float: left;' />
										<a href="{% url 'fake_news' %}" ><button type="button" class="function_button btn btn-info">Fake detector</button></a>
										 <input type="button" name="next" class="next action-button" value="Next Step" style='float: right;' />
										 
									</fieldset>
									<fieldset>
										{% include 'page/support_card.html' %}
										<input type="button" name="previous" class="previous action-button" value="Previous" style='float: left;' />
										 <input type="button" name="next" class="next action-button" value="Next Step" style='float: right;' />
										 
									</fieldset>
									<fieldset>
										{% include 'page/ask_card.html' %}
										<input type="button" name="previous" class="previous action-button" value="Previous" style='float: left;' />
										 
										 
									</fieldset>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		
	


		{% include 'page/footer.html' %}
		<!-- Footer Section -->
		
		<!-- Bact To To -->
		<!-- <a id="backToTop" href="#" class=""><i class="fa fa-angle-double-up"></i></a> -->
      
        

{% endblock %}
