
{% load static %}


<fieldset class ='field_card'>
    
    <div class='card'>1. Consider the Source</div>
   
    </h2>
           <!-- Featured Section -->
           <section class="commonSection featured">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12  col-md-5">
                        <div class="features_content">
                            <h4 class="sub_title" style="color: #a11818;font-size: 14px;">
                                Trust the author before you trust the news!</h4>
                            <h2 class="sec_title">About Author</h2>
                            <p class="sec_desc">
                                
                            </p>
                            <div class="singleFeature">
                                <div class="f_count">01</div>
                                
                                <p>
                                    Most of the fake news author's aren’t even journalists, but paid trolls
                                    
                                  
                                </p>
                            </div>
                            <div class="singleFeature">
                                <div class="f_count">02</div>
                                
                                <p>
                                    Fake news articles often don't include author names. If included, check the author's bio and 
                                    do a quick search on them.
                                </p>
                            </div>
                            <div class="singleFeature">
                                <div class="f_count">03</div>
                                <p>
                                    If they have advanced degrees or professional backgrounds that they are writing about,
                                     they have met the minimum requirement for credibility
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-7 col-sm-12 col-md-7 noPaddingRight">
                        <div class="features_img">
                            <img src="{% static 'images/bg/wondering.png' %}" alt=""/>
                            
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- Featured Section -->
    <!-- <div class="pic">
        <p class="description" class="col-lg-7 col-sm-7 col-md-7">
            News stories or articles from well-know news outlets such as ABC news, world health organisation, world trade organisation, 9news,
        Sydney morning herald etc are far more reliable than sites such as Facebook, WhatsApp university, twitter etc.
        <br>
        <a class="common_btn red_bg" href="{% url 'source' %}"><span>Learn More</span></a>
        </p>
        <img src="{% static 'images/home_1/source.png' %} " alt="" class="col-lg-5 col-sm-5 col-md-5">
    </div> -->
    
    <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
