{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">6. SUPPORTING SOURCES</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                        <span style='color: #a11818;'><strong>As quoted by Jolene Engle, “For Two are Better than One, but Three is Even Better”.</strong></span>
                          Multiple sources provide higher scrutiny and investigation of news. It helps improve in-depth knowledge.
                         More research lets one explore from different angles and perspectives.
                       
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Are the images relevant?</h3>
                        <p>
                            <strong>Does the photo in the news article look unrealistic?</strong>
                            Someone took this photo a few years ago and said this is happening right now.

                                You can drag and drop the photos you’re looking at into Google images and it can help you verify the original source of the image. Check now

                                This can give you some important tips as to whether the image is original or belongs to its original context.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">02</div>
                        <h3>Do the supporting sources back up their claims?</h3>
                        <p>
                            This is one of the most overlooked issues that people encountered. 

                            Fake news writers normally provide something like “Scientists have proved that bleaching water can treat Coronas” in a newspaper article. 

                            <strong>What scientists? What exactly did they say?</strong>

                            Searching for the provided resources to see whether the information is relevant.
                        </p>
                    </div>

                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img" style='    padding-top: 17px;'>
                    <img src="{% static 'images/home_1/supporting_source.png'  %}" alt=""/>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

