{% load static %}

<section class="commonSection featured" style='padding:0px'>
    <div class="container">
        <div class="row">
            <h2 class="card_title">6. SUPPORTING SOURCES</h2>
            <div class="col-lg-7 col-sm-12  col-md-7" style='text-align: left;'>
                <div class="features_content">
                    <p class="card_sec">
                        <span style='color: #a11818;'><strong>As quoted by Jolene Engle, “For Two are Better than One, but Three is Even Better”.</strong></span>
                          Multiple sources provide higher scrutiny and investigation of news. It helps improve in-depth knowledge.
                         More research lets one explore from different angles and perspectives.
                       
                    </p>
                    <div class="card_singleFeature">
                        <div class="card_count">01</div>
                        <h3>Does the News article has an author or not?</h3>
                        <p>
                            Fake news articles often don't include author names. If included, check the author's bio and do a quick search on them.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">02</div>
                        <h3>Are they represented by a reputable organisation or company?</h3>
                        <p>
                            There are many variations of passages of lorem ipsum available, but the majority have suffered.
                        </p>
                    </div>
                    <div class="card_singleFeature">
                        <div class="card_count">03</div>
                        <h3>What degree does the author have?</h3>
                        <p>
                            If they have advanced degrees or professional backgrounds that they are writing about, 
                            they have met the minimum requirement for credibility
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-5 noPaddingRight">
                <div class="features_img">
                    <a href="{% url 'author' %}" ><img src="{% static 'images/home_1/supporting_source.png'  %}" alt=""/></a>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

